// Placeholder to allow overriding predefined variables smoothly.
/* Override theme defaults */

$base-font-family:  "Fira Sans", sans-serif !default;

$base-font-size:    16px !default;
$small-font-size:   0.8em !default;

$base-font-weight:  200 !default;
$bold-font-weight:  $base-font-weight * 2 !default;
$light-font-weight: $base-font-weight * 0.5 !default;

$base-line-height:  1.6 !default;

$spacing-unit:      30px !default;

$text-color:        #3c484e !default;
$background-color:  #fdfdfd !default;
$brand-color:       #2a7ae2 !default;
$link-color:        #0037B3 !default;

$grey-color:        #828282 !default;
$grey-color-light:  lighten($grey-color, 40%) !default;
$grey-color-dark:   darken($grey-color, 25%) !default;


$table-text-align:  left !default;

$code-bg-color:     #f6f8fa;
$code-font-family:  "Fira Code", monospace !default;
$code-font-size:    0.9em;
$code-font-weight:  300;
$code-bold-weight:  $code-font-weight * 2;
$code-line-height:  1.4;

// Width of the content area
$content-width:     45em !default;
$on-palm:           36px !default;
$on-laptop:         45px !default;